.feedEntry {
  list-style-type: none;
  margin: .5em;
}

.card {
  width: 100vw;
  height: 100vh;
  border-width: 0 1px;
  border-style: solid;
  border-color: black;
  overflow-y: scroll;
  white-space: normal;
  display: inline-block;
}

@media (min-width: 30em) {
  .card {
    width: 22em;
    margin: 0 1px 0 1px;
    padding: 8px;
  }
}

.card button {
}

.card h1 {
  margin-top: 0;
}

.cardContainer {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.entry {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: .3em;
  align-items: center;
}

.entrySeason {
  font-weight: 200;
  font-size: .7em;
}

.entryDay {
  font-weight: 200;
  font-size: .7em;
}

.feedList {
  padding: 0;
}

.typeCheckbox {
  font-size: small;
}

.typeModal {
  columns: 3 20em;
}

.categorySelect {
  columns: 2;
}

.categoryOption input {
  margin-left: 0;
}

.selectedTypeCrumb {
  font-size: x-small;
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  margin: 2px;
  background: lightblue;
  font-style: oblique;
}

.selectedTypes {
  display: flex;
  flex-wrap: wrap;
}

.titleEdit {
  font-size: x-large;
}

.editButtons {
}

.editButtons > button {
  margin-top: .5em;
  font-size: medium;
}

.removeButton {
  float: right;
}

.editButton {
  float: right;
}

.editPanel > * {
  margin: 4px 0;
}

.editPanel > label {
  font-size: small;
}
