.feedEntry {
  list-style-type: none;
  margin: .5em;
}

.card {
  width: 20em;
  height: 100vh;
  border: 1px solid black;
  overflow-y: scroll;
  white-space: normal;
  display: inline-block;
}

.card button {
  float: right;
}

.card h1 {
  float: left;
}

.cardContainer {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.entry {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: .3em;
  align-items: center;
}

.entrySeason {
  font-weight: 200;
  font-size: .7em;
}

.entryDay {
  font-weight: 200;
  font-size: .7em;
}

.feedList {
  padding: 0;
}
